<!doctype html>
<html lang="en">

<head>
    <%- include('./partials/headerlink'); %>
    <title>PPI Compact Dashboard</title>
</head>

<style>
    #sukses-alert {
        display: none;
    }

    .btn-right {
        float: right;
        right: 0;
        padding: 9px 16px
    }

    .btn-right a {
        width: 60px;
        height: 23px;
        padding: 5px;
        font-size: 10px;
        color: white;
    }

    .btn-notif {
        font-size: 10px;
        padding: 5px;
    }

    .btn-notif span {
        font-size: 10px;

    }
</style>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="../index.html">Concept</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <%- include('./partials/top_menu'); %>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <%- include('./partials/sidebar'); %>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title"><%= title %></h2>

                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">UI Elements</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">Accordions</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- accrodions -->
                <!-- ============================================================== -->
                <div id="sukses-alert" class="alert alert-primary" role="alert">
                    Success
                </div>

                <div id="message-placement"></div>

                <div class="row">

                    <!-- ============================================================== -->
                    <!-- accrodions style one -->
                    <!-- ============================================================== -->
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="section-block">
                            <h5 class="section-title">Edit Target</h5>
                            <p>Edit Target PPI Compact</p>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <form id="form" method="POST">
                                    <input id="id_region" type="text" name="id_region" class="form-control"
                                        style="display: none;" value="<%= target_edit.id_region %>">
                                    <div class="form-group">
                                        <label for="inputText3" class="col-form-label">Nama Target</label>
                                        <input id="inputText3" type="text" name="target" class="form-control"
                                            placeholder="Misl. Deforestasi dan Degradasi"
                                            value="<%= target_edit.target %>" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputText4" class="col-form-label">Display Name</label>
                                        <p>Akan digunakan untuk penamaan group pada legenda peta</p>
                                        <input id="inputText4" type="text" name="display_name" class="form-control"
                                            placeholder="Misl. Deforestasi, Degradasi dan Emisi"
                                            value="<%= target_edit.display_name %>" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Icon Legenda</label>
                                        <div class="input-group mb-3">
                                            <input id="icon" type="text" name="icon" class="form-control" required=""
                                                value="<%= target_edit.logo %>">
                                            <div class="input-group-append be-addon">
                                                <button type="button" data-toggle="dropdown"
                                                    class="btn btn-secondary dropdown-toggle"
                                                    aria-expanded="false">Icon</button>
                                                <div id="add_group" class="dropdown-menu" x-placement="bottom-start"
                                                    style="position: absolute; transform: translate3d(460px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">

                                                    <a class="dropdown-item" id="/main/icon/def-icon.svg"
                                                        onclick="getPath(this)">
                                                        <img src="/main/icon/def-icon.svg" width="40" alt="" srcset="">
                                                    </a>
                                                    <a class="dropdown-item" id="/main/icon/fire-icon.svg"
                                                        onclick="getPath(this)">
                                                        <img src="/main/icon/fire-icon.svg" width="40" alt="" srcset="">
                                                    </a>
                                                    <a class="dropdown-item" id="/main/icon/legal-icon.svg"
                                                        onclick="getPath(this)">
                                                        <img src="/main/icon/legal-icon.svg" width="40" alt=""
                                                            srcset="">
                                                    </a>
                                                    <a class="dropdown-item" id="/main/icon/sertifikat-icon.svg"
                                                        onclick="getPath(this)">
                                                        <img src="/main/icon/sertifikat-icon.svg" width="40" alt=""
                                                            srcset="">
                                                    </a>
                                                    <a class="dropdown-item" id="/main/icon/budidaya-icon.svg"
                                                        onclick="getPath(this)">
                                                        <img src="/main/icon/budidaya-icon.svg" width="40" alt=""
                                                            srcset="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Deskripsi</label>
                                        <textarea class="form-control" name="deskripsi" id="exampleFormControlTextarea1"
                                            rows="3" value="<%= target_edit.deskripsi %>"></textarea>
                                    </div>
                                    <br>
                                    <input type="submit" onclick="showLoading(); this.disabled = true"
                                        class="btn btn-success" disabled>
                                    <span id="loading-submit" class="dashboard-spinner spinner-secondary spinner-xs"
                                        style="vertical-align: middle;visibility: hidden;"></span>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end accrodions style one -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- accrodions style two -->
                    <!-- ============================================================== -->
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="section-block">
                            <h5 class="section-title">List Eksisting Target</h5>
                            <p>List target di database</p>
                        </div>
                        <div class="accrodion-regular">
                            <div id="accordion">
                                <%
                                if(all_target.length!=0){
                                var i=1;
                                all_target.forEach(function(target){
                                %>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <div style="text-align:left" class="btn btn-link collapsed"
                                                data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">

                                                <%=target.target %>

                                            </div>
                                        </h5>
                                    </div>
                                </div>
                                <%  i++; }) %>
                                <% } else { %>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                                No Group Added
                                            </button>
                                        </h5>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->

    <%- include('./partials/footerlink'); %>

    <script>
        function showLoading() {
            let loading = document.getElementById('loading-submit')
            let form = document.getElementById('form')

            loading.style.visibility = 'visible'
            form.submit()
        }

        window.addEventListener('load', function () {
            let inputs = document.querySelectorAll('input')
            inputs.forEach(input => {
                input.disabled = false
            })
        })

        let icon_input = document.getElementById('icon')

        function getPath(el) {
            let id = el.id
            icon_input.value = id
        }
    </script>

</body>

</html>