<!doctype html>
<html lang="en">

<head>
    <%- include('./partials/headerlink'); %>
    <title>PPI Compact Dashboard</title>
</head>

<style>
    #sukses-alert {
        display: none;
    }

    .btn-right {
        float: right;
        right: 0;
        padding: 9px 16px
    }

    .btn-right a {
        width: 60px;
        height: 23px;
        padding: 5px;
        font-size: 10px;
        color: white;
    }

    .btn-notif {
        font-size: 10px;
        padding: 5px;
    }

    .btn-notif span {
        font-size: 10px;

    }

    #add_group a {
        cursor: pointer;
    }

    #map {
        width: 100%;
        height: 400px;
    }
</style>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <%- include('./partials/navbar'); %>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <%- include('./partials/sidebar'); %>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title"><%= title %></h2>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/admin/"
                                                class="breadcrumb-link">mrv</a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="<%=current_link %>"
                                                class="breadcrumb-link"><%=page_name.replace("_"," ") %></a>
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- accrodions -->
                <!-- ============================================================== -->
                <div id="sukses-alert" class="alert alert-primary" role="alert">
                    Success
                </div>

                <div id="message-placement"></div>

                <div class="row">
                    <!-- ============================================================== -->
                    <!-- accrodions style one -->
                    <!-- ============================================================== -->
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="section-block">
                            <h5 class="section-title">Rincian Target</h5>
                            <p>Tambah rincian target baru berdasarkan target utama. </p>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <form id="form" method="POST">
                                    <input id="id_region" type="text" name="id_region" class="form-control" style="display: none;" disabled>
                                    <div class="form-group">
                                        <label for="inputText3" class="col-form-label">Nama Target</label>
                                        <input id="inputText3" type="text" name="rincian_target" class="form-control"
                                            value="<%= rincian_target_edit.rincian_target %>"  required>
                                        <label for="inputText4" class="col-form-label">Baseline</label>
                                        <input id="inputText4" type="text" name="baseline" class="form-control"
                                        value="<%= rincian_target_edit.baseline %>"  required>
                                        <label for="inputText5" class="col-form-label">Target Tahunan</label>
                                        <input id="inputText5" type="text" name="target_tahunan" class="form-control"
                                        value="<%= rincian_target_edit.target_tahunan %>"  required>
                                        <label for="inputText4" class="col-form-label">satuan</label>
                                        <input id="inputText8" type="text" name="satuan" class="form-control"
                                        value="<%= rincian_target_edit.satuan %>"  required>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputText6" class="col-form-label">Target Induk</label>
                                        <div class="input-group mb-3">
                                            <input id="id_target" type="hidden" name="id_target"
                                            class="form-control" value="<%= rincian_target_edit.id_target %>" >
                                            <input id="nama_target" type="text" name="target"
                                                class="form-control"value="<%= rincian_target_edit.target %>" >
                                            <div class="input-group-append be-addon">
                                                <button type="button" data-toggle="dropdown"
                                                    class="btn btn-secondary dropdown-toggle"
                                                    aria-expanded="false">Target Induk</button>
                                                <div id="add_group" class="dropdown-menu" x-placement="bottom-start"
                                                    style="position: absolute; transform: translate3d(460px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                    <%
                                                    if(target.length!=0){
                                                    var i=1;
                                                    target.forEach(function(target){
                                                    %>
                                                    <a id="<%= target.id_target %>" onclick="getGroupId(this)"
                                                        class="dropdown-item"><%= target.target %></a>
                                                    <%  i++; }) %>
                                                    <% } else { %>
                                                    <a class="dropdown-item">Target induk belum ada</a>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                        <label for="inputText4" class="col-form-label">Deskripsi</label>
                                        <textarea id="inputText11" type="text" name="deskripsi" class="form-control"
                                            placeholder="Data ini diperoleh dari......." disabled required><%= rincian_target_edit.deskripsi %></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputText6" class="col-form-label">Rule Kontribusi Positif</label>
                                        <p>Jika rule yang dipilih <strong>NEGATIF</strong>, maka capaian yang bernilai <strong>NEGATIF</strong> adalah kontribusi positif, misl. deforestasi -10 ha dan sebaliknya.</p>
                                        <div class="input-group mb-3">
                                            <input id="rule" type="text" name="rule"
                                                class="form-control"  required value="<%= rincian_target_edit.rule %>">
                                            <div class="input-group-append be-addon">
                                                <button type="button" data-toggle="dropdown"
                                                    class="btn btn-secondary dropdown-toggle"
                                                    aria-expanded="false">Rule</button>
                                                <div id="add_group" class="dropdown-menu" x-placement="bottom-start"
                                                    style="position: absolute; transform: translate3d(460px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                    <a id="positif" onclick="getRuleId(this)" class="dropdown-item"> positif </a>
                                                    <a id="negatif" onclick="getRuleId(this)" class="dropdown-item">negatif</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <input type="submit" onclick="showLoading(); this.disabled = true" class="btn btn-success" >
                                    <span id="loading-submit" class="dashboard-spinner spinner-secondary spinner-xs" style="vertical-align: middle;visibility: hidden;"></span>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="section-block">
                            <h5 class="section-title">List Rincian Target</h5>
                            <p>List eksisting target (10 target teratas).</p>
                        </div>
                        <div class="accrodion-regular">
                            <div id="accordion">
                                <%
                                if(rincian_target.length!=0){
                                var i=1;
                                rincian_target.forEach(function(rincian_target){
                                %>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <div style="text-align:left;width: 60%;
                                            white-space: nowrap;
                                            overflow: hidden;
                                            text-overflow: ellipsis;" class="btn btn-link collapsed"
                                                data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">

                                                <%= rincian_target.rincian_target %>   
                                                
                                            </div>
                                        </h5>
                                    </div>
                                </div>
                                <%  i++; }) %>
                                <% } else { %>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                                Belum ada target
                                            </button>
                                        </h5>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end accrodions style one -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- accrodions style two -->
                    <!-- ============================================================== -->
                    <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="section-block">
                            <h5 class="section-title">Preview Data</h5>
                            <p>Preview data GeoJSON yang akan di-upload ke database.</p>
                        </div>
                        <div class="card">
                            <div class="card-body" style="padding:0px">
                                <div id='map'></div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->

    <%- include('./partials/footerlink'); %>

    <script>
        let id_region = document.getElementById('def_region').value
        let copy_region = document.getElementById('id_region')
        copy_region.value = id_region

        // Set group name value
        let id_target = document.getElementById('id_target')
        let nama_group = document.getElementById('nama_target')
        let rule = document.getElementById('rule')
        
        let getGroupId = (val) => {
            id_target.value = val.id
            nama_group.value = val.innerText
        }

        let getRuleId= (val) => {
            rule.value = val.id
        }

        let message_placement = document.getElementById('message-placement')
        message_placement.innerHTML = message
        
        $(document).ready(function () {
            $("#message-placement").delay(5000).slideUp(300);
        });

        function showLoading() {
            let loading = document.getElementById('loading-submit')
            let form = document.getElementById('form')

            loading.style.visibility = 'visible'
            form.submit()
        }

        window.addEventListener('load',function(){
            let inputs = document.querySelectorAll('input')
            inputs.forEach(input => {
                input.disabled = false
            })
            document.getElementById('inputText11').disabled = false
        })

    </script>
</body>

</html>