<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="copyright" content="MACode ID, https://macodeid.com">

  <title><%= title %></title>

  <link rel="stylesheet" href="/main/about_css/animate/animate.css">

  <link rel="stylesheet" href="/main/about_css/bootstrap.css">

  <link rel="stylesheet" href="/main/about_css/maicons.css">

  <link rel="stylesheet" href="/main/about_css/owl-carousel/css/owl.carousel.css">

  <link rel="stylesheet" href="/main/about_css/theme.css">

  <link rel="stylesheet" href="/admin/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">

</head>

<body>

  <!-- Back to top button -->
  <div class="back-to-top"></div>

  <header>
    <%- include('./partials/normal_navbar'); %>

    <div class="page-banner home-banner">
      <div class="overlay">
        <div class="container h-100">
          <div class="row align-items-center h-100" style="width: 100%;">
            <div class="col-lg-6 py-3 wow fadeInUp">
              <h1 class="mb-4" style="font-weight: 600;">Selamat Datang di
                <strong><%- include('./partials/navbar-brand'); %></strong></h1>
              <p class="text-lg mb-5">Sustainable Development and Inclusive <br>Growth, Start Here!</p>

              <!-- <a href="#detail" class="btn ent no-fill"><span style="margin:0 15px">Scroll Down </span><i
                  class="fas fa-caret-down"
                  style="font-size: 18px;vertical-align: middle;float: right;margin-top: 1px;"></i></a>
              <a href="/" class="btn ent"><span style="margin:0 15px">Seputar Pokja PPH</span><i
                  class="fas fa-caret-right"
                  style="font-size: 18px;vertical-align: middle;float: right;margin-top: 2px;"></i></a> -->

              <!-- <a href="#" class="btn btn-primary btn-split ml-2">Watch Video <div class="fab"><span class="mai-play"></span></div></a> -->
            </div>
            <div class="col-lg-6 py-3 wow zoomIn">
              <div class="img-place">
                <img width="100" src="/global/about/entative.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="back-img"></div>
    <div id="detail" class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 py-3 wow zoomIn">
            <div class="img-place text-center" style="width: 430px;margin-left: 0;">
              <img src="/global/about/kegiatan/keg1.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 py-3 wow fadeInLeft">
            <h2 class="title-section"><span class="marked">Entative</span> dipelopori oleh Kelompok Kerja Percepatan
              Pertumbuhan Hijau (Pokja P3H), Kab. Kubu Raya
            </h2>
            <div class="divider"></div>
            <p class="mb-0">
              Pokja P3H Kubu Raya merupakan koalisi para pihak untuk mendorong percepatan pertumbuhan hijau di Kabupaten Kubu Raya 
              yang terbentuk pada tanggal 15 Juni 2021. Pokja P3H merupakan aktualisasi "Kepong Bakol" yang diinisiasi Bupati Kubu Raya. Pokja P3H telah menyusun <span><a
                href="/main/resources/<%= region[0].id_region %>">Strategi Rencana Aksi Percepatan Pertumbuhan Hijau (SRAK PPH)</a></span> sebagai panduan bagi para pihak
              untuk ikut berkontribusi dalam pencapaian target pertumbuhan hijau di Kubu Raya.  
              <!-- Sejak terbentuk tanggal 15 Juni tahun 2021, Pokja P3H aktif mengawal dan memastikan <span><a
                  href="">Strategi Rencana Aksi Percepatan Pertumbuhan Hijau (SRAK PPH)</a></span> Kabupaten Kubu Raya,
              terlaksana.  -->
            </p>
          </div>
        </div>
        <div class="separator" style="margin: 80px 0;"></div>
        <div class="row">
          <div class="col-lg-6 py-3 wow fadeInLeft" style="text-align: right;">
            <h2 class="title-section" style="width: 100%;max-width: 100%;"><span class="marked">Tugas dan Fungsi </span>
             Pokja P3H Kabupaten Kubu Raya </h2>
            <div class="divider" style="display: inline-block;right: 0;"></div>
            <p class="mb-0"><strong>Akselerator</strong> untuk menciptakan ide-ide project baru yang berkaitan dengan perlindungan & konservasi hutan, peningkatan ekonomi masyarakat, 
              maupun pengembangan komoditas berkelanjutan (misal. komoditas sawit berkelanjutan). <br><br><strong>Akselerator</strong> untuk mendorong adanya pendanaan Project ditingkat lapangan dan jaringan kerja.
              <br><br><strong>Verifikator dan validator</strong> untuk memastikan setiap project selaras dengan Visi & Misi Kabupaten Kubu Raya, maupun rencana dan target percepatan pertumbuhan hijau.
          </div>
          <div class="col-lg-6 py-3 wow zoomIn">
            <div class="img-place text-center" style="width: 430px;margin-right: 0;">
              <img src="/global/about/kegiatan/keg2.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="separator" style="margin: 80px 0;"></div>
        <div class="row">
          <div class="col-lg-6 py-3 wow zoomIn">
            <div class="img-place text-center" style="width: 430px;margin-left: 0;">
              <img src="/global/about/kegiatan/keg1.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 py-3 wow fadeInLeft">
            <h2 class="title-section"><span class="marked">Entative </span> 
              merupakan platform <span style="font-style: italic;">monitoring</span> dan <span style="font-style: italic;">reporting</span> kinerja pertumbuhan hijau
            </h2>
            <div class="divider"></div>
            <p class="mb-0">
              Entative menjamin publik dapat memantau sejauh mana capaian para pihak dalam pencapaian target pertumbuhan hijau di Kubu Raya secara transparan, khususnya 
              target-target yang berkaitan dengan spasial. Selain itu, beragam data spasial seputar pertumbuhan hijau, juga dapat diakses dan 
              dilihat oleh siapa saja, di platform ini. Entative juga terkoneksi langsung dengan platform global, yaitu <span class="a-link"><a onclick="window.open('https://sourceup.org/', '_blank').focus();">SourceUp</a></span>. SourceUp menyediakan progress pencapaian
              target pertumbuhan hijau non-spasial. 
            </p>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->

    <div class="page-section" style="padding-top: 0;">
      <div class="container">
        <div class="text-center wow fadeInUp">
          <div class="subhead">Target</div>
          <h2 class="title-section">Target <span class="marked">Pertumbuhan Hijau</span> Kubu Raya</h2>
          <div class="divider mx-auto"></div>
        </div>
        <div class="row mt-5 text-center">
          <%
          if(list_target.length!=0){
          var i=1;
          list_target.slice(0,3).forEach(function(target){
          %>
          <div class="col-lg-4 py-3 wow fadeInUp">
            <div class="display-3"><i class="<%= target.icon %>" style="color: #142940;"></i> </div>
            <h5 style="font-weight: bold;"><%= target.target %></h5>
            <p><%= target.deskripsi %></p>
            <!-- <p>Jumlah rincian target <Span><%= target.total_rincian %></Span></p> -->
          </div>
          <%  i++; }) %>
          <% } else { %>
          <div class="col-lg-4 py-3 wow fadeInUp">
            <div class="display-3"><i class="<%= target.icon %>" style="color: #142940;"></i> </div>
            <h5 style="font-weight: bold;">Belum ada target</h5>
            <p>Belum ada target</p>
          </div>
          <% } %>
        </div>
        <div class="text-center">
          <a href="/main/detail_target_pph/<%= region[0].id_region %>" class="btn ent"><span style="margin:0 15px">Selengkapnya </span><i class="fas fa-caret-right"
              style="font-size: 18px;vertical-align: middle;float: right;margin-top: 2px;"></i></a>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->

 
    <div class="page-section client-section">
      <div class="container">
        <div class="text-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
          <div class="subhead">Inisiator</div>
          <h2 class="title-section">Inisiator <span class="marked">Pokja P3H</span> Kabupaten Kubu Raya</h2>
          <div class="divider mx-auto"></div>
        </div>
        <div id="partner-list" class="row row-cols-2 row-cols-md-3 row-cols-lg-5 justify-content-center"
          style="align-items: center;">
          <div class="item wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
            <img onclick="window.open('https://bentangkalimantan.org', '_blank').focus();" width="80px"
              src="/global/img/logo/bkt.svg" alt="">
          </div>
          <div class="item wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
            <img onclick="window.open('https://www.idhsustainabletrade.com/', '_blank').focus();" width="120px"
              src="/global/img/logo/idh_hijau.svg" alt="">
          </div>
          <div class="item wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
            <img onclick="window.open('https://bappeda.kuburayakab.go.id/', '_blank').focus();" width="70"
              src="/global/img/logo/pemkab_kkr.svg" alt="">
          </div>
          <div class="item wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
            <img onclick="window.open('https://www.idhsustainabletrade.com/', '_blank').focus();" width="160px"
              src="/global/img/logo/pt pas.png" alt="">
          </div>
          <div class="item wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
            <img onclick="window.open('https://bentangkalimantan.org', '_blank').focus();" width="80px"
              src="/global/img/logo/bkt.svg" alt="">
          </div>

          <!-- <div class="item wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
            <img width="80px" src="/global/img/logo/bkt.svg" alt="">
          </div>
          <div class="item wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
            <img width="120px" src="/global/img/logo/idh_hijau.svg" alt="">
          </div> -->

        </div>
      </div> <!-- .container-fluid -->
    </div>
    <div class="page-section features" style="padding-bottom: 80px;">
      <div class="container">
        <div class="text-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
          <div class="subhead">Our Team</div>
          <h2 class="title-section">Sekretariat <span class="marked">Pokja P3H</span> Kabupaten Kubu Raya</h2>
          <div class="divider mx-auto"></div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3 profile-photo">
                <img width="100" src="/global/about/tim/bimo.png" alt="">
              </div>
              <div>
                <h5>Herbimo Utoyo</h5>
                <p>Ketua Sekretariat Pokja P3H</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3 profile-photo">
                <img width="50" src="/global/about/tim/dini.png" alt="">
              </div>
              <div>
                <h5>Dini Sartika</h5>
                <p>Anggota Sekretariat Pokja P3H</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3 profile-photo">
                <img width="50" src="/global/about/tim/eka.png" alt="">
              </div>
              <div>
                <h5>Eka Yulianto</h5>
                <p>Anggota Sekretariat Pokja P3H</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3 profile-photo">
                <img width="50" src="/global/about/tim/arsyad.png" alt="">
              </div>
              <div>
                <h5>M. Arsyad</h5>
                <p>Anggota Sekretariat Pokja P3H</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3 profile-photo">
                <img width="50" src="/global/about/tim/linda.png" alt="">
              </div>
              <div>
                <h5>Linda Novianti</h5>
                <p>Anggota Sekretariat Pokja P3H</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3 profile-photo">
                <img width="50" src="/global/about/tim/pamungkas.png" alt="">
              </div>
              <div>
                <h5>Pamungkas Angesthitomo</h5>
                <p>Anggota Sekretariat Pokja P3H</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3 profile-photo">
                <img width="50" src="/global/about/tim/ferdi.png" alt="">
              </div>
              <div>
                <h5>Ferdiansyah</h5>
                <p>Anggota Sekretariat Pokja P3H</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3 profile-photo">
                <img width="50" src="/global/about/tim/indah.png" alt="">
              </div>
              <div>
                <h5>F. Indah Anggelina</h5>
                <p>Anggota Sekretariat Pokja P3H</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3 profile-photo">
                <img width="50" src="/global/about/tim/iqbal.png" alt="">
              </div>
              <div>
                <h5>M. Riza Iqbal</h5>
                <p>Anggota Sekretariat Pokja P3H</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 py-3 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3 profile-photo">
                <img width="50" src="/global/about/tim/falivi.png" alt="">
              </div>
              <div>
                <h5>M. Falivi Osman</h5>
                <p>Anggota Sekretariat Pokja P3H</p>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .container -->
    </div>
    <!-- <div class="page-section client-section">
      <div class="container-fluid">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 justify-content-center">
          <div class="item wow zoomIn">
            <img width="70" src="/global/img/logo/bkt.svg" alt="">
          </div>
          <div class="item wow zoomIn">
            <img width="100" src="/global/img/logo/idh_hijau.svg" alt="">
          </div>
          <div class="item wow zoomIn">
            <img width="60" src="/global/img/logo/pemkab_kkr.svg" alt="">
          </div>
        </div>
      </div>
    </div>  -->
    <div class="page-section border-top" style="background-color: #F6F5FC;">
      <div class="container">
        <div class="text-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
          <div class="subhead">Dokumentasi</div>
          <h2 class="title-section">Dokumentasi Kegiatan<span class="marked">Pokja P3H</span> Kubu Raya</h2>
          <div class="divider mx-auto"></div>
        </div>
        <!-- <div class="text-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
          <div class="subhead">Our Activity</div>
          <h2 class="title-section">Seputar Aktivitas<span class="marked"> <br> Pokja P3H </span></h2>
          <div class="divider mx-auto"></div>
        </div> -->
        <!-- <div class="text-center wow fadeInUp"> -->
        <!-- <div class="subhead">Our Blog</div>
          <h2 class="title-section">Read our latest <span class="marked">News</span></h2> -->
        <!-- <div class="divider mx-auto"></div> -->
        <!-- </div> -->
        <div class="row my-5 card-blog-row" style="margin-bottom: 0 !important;">
          <div class="col-md-6 col-lg-4 py-3">
            <div class="card-blog">
              <img src="/global/about/kegiatan/keg1.jpg" alt="" srcset="">
            </div>
          </div>
          <div class="col-md-6 col-lg-4 py-3">
            <div class="card-blog">
              <img src="/global/about/kegiatan/keg5.jpg" alt="" srcset="">
            </div>
          </div>
          <div class="col-md-6 col-lg-4 py-3">
            <div class="card-blog">
              <img src="/global/about/kegiatan/keg6.jpg" alt="" srcset="">
            </div>
          </div>
          <div class="col-md-6 col-lg-4 py-3">
            <div class="card-blog">
              <img src="/global/about/kegiatan/keg7.jpg" alt="" srcset="">
            </div>
          </div>
          <div class="col-md-6 col-lg-4 py-3">
            <div class="card-blog">
              <img src="/global/about/kegiatan/keg8.jpg" alt="" srcset="">
            </div>
          </div>
          <div class="col-md-6 col-lg-4 py-3">
            <div class="card-blog">
              <img src="/global/about/kegiatan/keg91.jpg" alt="" srcset="">
            </div>
          </div>
        </div>
        <!-- <div class="text-center">
          <a href="blog.html" class="btn btn-outline-primary rounded-pill">Discover More</a>
        </div> -->
      </div> <!-- .container -->
    </div> <!-- .page-section -->
  </main>
 
  <%- include('./partials/normal_footer'); %>

  <script src="../assets/js/jquery-3.5.1.min.js"></script>

  <script src="../assets/js/bootstrap.bundle.min.js"></script>

  <script src="../assets/vendor/wow/wow.min.js"></script>

  <script src="../assets/vendor/owl-carousel/js/owl.carousel.min.js"></script>

  <script src="../assets/vendor/waypoints/jquery.waypoints.min.js"></script>

  <script src="../assets/vendor/animateNumber/jquery.animateNumber.min.js"></script>

  <script src="../assets/js/google-maps.js"></script>

  <script src="../assets/js/theme.js"></script>


</body>

</html>