<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/headerlink'); %>
    <link rel="stylesheet" href="/admin/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<style>
    #map {
        width: 100%;
        height: 119vh;
        z-index: 0;
    }

    #veryfied-icon .tooltiptext {
        visibility: hidden;
        background-color: #e2edebd9;
        color: #000;
        text-align: center;
        border-radius: 5px;
        padding: 20px;
        position: absolute;
        z-index: 9999;
        margin: -54px 16px;
        right: 15px;
        font-size: 12px;
        text-transform: capitalize;
        line-height: 1.4;
    }

    #veryfied-icon:hover .tooltiptext {
        visibility: visible;
    }

    .legend-subtitle {
        position: relative;
    }

    .legend-subtitle .legend-item {
        padding: 0;
    }

    .get-chart {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 12px;
        padding: 5px;
        width: 80px;
    }

    .icon-terverifikasi {
        color: #367BF5;
        font-size: 14px;
    }

    .icon-belum-terverifikasi {
        color: #ACBCA3;
        font-size: 14px;
    }

    .nested-card {
        border-bottom: 1px solid #ced4da;
        /* border-radius: 10px; */
        /* margin: 25px 0; */
        padding: 12px 0;
    }

    .nav_list a {
        border: 1px solid #ced4da;
        border-radius: 5px;
    }

    .kinerja-positif {
        font-weight: bold;
        color: #53C351;
        float: right;
        right: 0;
        position: absolute;
        margin: 0 27px;
    }

    .kinerja-negatif {
        font-weight: bold;
        color: #EA3D2F;
        float: right;
        right: 0;
        position: absolute;
        margin: 0 27px;
    }

    .val-count {
        display: flex;
    }

    .val-count span {
        line-height: 22px;
        margin: 0 2px;
    }

    #overlay-preload-map {
        visibility: hidden;
    }

    #overlay-preload,
    #overlay-preload-map {
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 888;
        cursor: pointer;
    }

    #overlay-preload img,
    #overlay-preload-map {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 9999;
    }

    /* .legend-des span {
        float: right;
        position: absolute;
        right: 0;
        margin: 0 25px;
    } */

    .check-counter {
        margin: 7px;
        position: absolute;
        right: 0;
        top: 0;
        background: #EA3D2F;
        color: white;
        /* padding: 5px; */
        font-size: 12px;
        font-weight: bold;
        border-radius: 3px;
        width: 17px;
        height: 17px;
        line-height: 1.4;
        transition-delay: 0s, 0.3s;
    }

    .map-fitur-normal {
        position: fixed;
        background: white;
        z-index: 777;
        right: 0;
        top: 63px;
        margin: 11px;
        /* padding: 10px; */
        border-radius: 3px;
        display: block;
        border: 1px solid #ced4da;
        transition-property: right, visibility;
        transition-duration: 0.3s, 0s;
        transition-delay: 0s, 0.3s;
    }

    .icon-fitur {
        padding: 10px;
        border-bottom: 1px solid #ced4da;
    }

    .map-fitur-normal .icon-fitur {
        cursor: pointer;
    }

    .map-fitur-normal .icon-fitur:hover {
        background-color: #00000018;
    }

    .iconify {
        color: #000;
    }

    .map-fitur-normal.move {
        transition-property: visibility, right;
        transition-duration: 0s, 0.3s;
        right: 400px;
    }

    .select-base {
        position: absolute;
        right: 45px;
        top: 0px;
        background: white;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid #ced4da;
        font-size: 12px;
    }

    .select-base option {
        border-bottom: 1px solid #ced4da;
        padding: 5px;
    }

    .select-base option:hover {
        background-color: #00000018;
    }
</style>

<body id="body-pd">
    <!-- <div id="overlay-preload">
        <img src="/main/preload/loader-1.svg" alt="" srcset="" width="100">
    </div> -->
    <header class="header" id="header">
        <div class="new-brand">
            <%- include('./partials/navbar-brand'); %>
        </div>
        <div class="region-form">
            <select id="region-selection" class="form-control">
                <%
                if(all_region.length!=0){
                var i=1;
                all_region.forEach(function(all_region){
                %>
                <option id="region<%= all_region.id_region%>" value="<%= all_region.id_region%>" >
                    <%= all_region.nama_region +', '+ all_region.provinsi %></option>
                <%  i++; }) %>
                <% } else { %>
                <tr>
                    <option>No Region</option>
                </tr>
                <% } %>
            </select>
            <button onclick="filterByRegion()" class="btn btn-success cs-btn" style="font-size: 12px;font-weight: 600;" >Submit </button>
            <div class="vl"></div>
            <div class="language-selection">
                <a id="lang-selection" onclick="alert('English version not available yet')"><%= lang.toUpperCase() %></a>
            </div>
        </div>
    </header>
    <div id="nav-info">
        <div class="sec-nav-tec">
            <div class="left-text">
                <i class="fas fa-database" style="font-size: 20px;"></i>
                <i class="fas fa-chevron-right margin"></i>
                <a href="/">Select Region</a>
                <i class="fas fa-chevron-right margin"></i>
                <a class="active-link"><%= region.nama_region %> District</a>
                <i class="fas fa-chevron-right margin"></i>
                <a><%= title %></a>

                <a class="floating">Total Group <span
                        style="font-size: 20px;color: #142940;font-weight: 800;margin: 0 10px;"><%= group_data.length %></span></a>
                <a class="floating">Total Data <span
                        style="font-size: 20px;color: #142940;font-weight: 800;margin: 0 10px;"><%= list_data.length %></span></a>

            </div>
        </div>
    </div>

    <div class="data-placement">
        <div class="back-img"></div>
    </div>

    <div class="container-data">
        <div class="row">
            <div class="col-8 col-md-8">
                <h2>Dataset <i class="fas fa-chevron-down" style="float: right;"></i></h2>
                <p class="def-p">List of available dataset</p>
                <div class="data-col container-lg">
                    <div class="row cus">
                    <%
                        if(group_data.length!=0){
                        var i=1;
                        group_data.forEach(function(data){
                        %>
                        <div class="col-xl-4 col-md-6 col-xxl-3 cursoring" onclick="window.location.href = '/main/data_selection/<%= data.id_region %>/<%= data.id_group_data %>'">
                            <div class="p">
                                <p class="total-data"><%= data.total_data %></p>
                                <i class="<%= data.icon_group_data %>"></i>
                                <span><%= data.nama_group_data %></span>
                            </div>
                        </div>
                        <%  i++; }) %>
                        <% } else { %>
                            <div class="col-xl-4 col-md-6 col-xxl-3 cursoring">
                                <div class="p">
                                    <!-- <p class="total-data">2</p> -->
                                    <i class="fas fa-frown"></i>
                                    <span>Belum ada data</span>
                                </div>
                            </div>
                        <% } %>   
                    </div>
                </div>
            </div>
            <!-- <p class="v-line"></p> -->
            <div class="col-4 col-md-4 br-left">
                <h2>Particular Thematic <i class="fas fa-chevron-down" style="float: right;"></i></h2>
                <p class="def-p">List of map with the particular thematic</p>
                <div class="data-col container-lg cursoring ">
                    <div class="row cus">
                        <div id="fitur-col" class="col" onclick="MoveToMap()">
                            <div class="p flexi">
                                <!-- <p class="total-data">2</p> -->
                                <i class="fas fa-chart-pie" style="margin-top:15px"></i>
                                <a style="margin-top:10px">MRV PPH
                                    <span>Pantau capaian indikator pertumbuhan hijau melalui Platform monitoring Percepatan Pertumbuhan Hijau (PPH).</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footerlink'); %>
    <script src="/admin/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script>

        // function changeLanguage() {
        //     window.location.href = `/eng`
        // }

        function MoveToMap() {
            window.location.href = `/main/eng/map/<%= region.id_region %>`
        }

        function getID(el) {
            winw.location.href = `/main/eng/data_explorer/${el.value}`
        }

        function filterByRegion() {
            let selected = document.getElementById('region-selection')
            window.location.href = `/main/eng/dataset/${selected.value}`
        }
    </script>
</body>

</html>