<div class="language-selection ">
    <a id="lang-selection" onclick="window.location.href = '/main/about/<%= region.id_region %>'">About</a>
</div>
<div class="margin-5"></div>
<div class="language-selection ">
    <a id="lang-selection" onclick="window.location.href = '/main/contact/<%= region.id_region %>'">Contact Us</a>
</div>
<div class="margin-5"></div>
<div class="language-selection ">
    <a id="lang-selection" onclick="window.location.href = '/main/blog/<%= region.id_region %>'">Blog</a>
</div>
<div class="margin-5"></div>
<div class="language-selection ">
    <a id="lang-selection" onclick="window.location.href = '/main/resources/<%= region.id_region %>'">Resources</a>
</div>
<!-- <div class="language-selection ">
    <a id="lang-selection" onclick="window.location.href = '/main/blog/<%= region.id_region %>'">Contact Us</a>
</div> -->