<footer class="page-footer" style="padding-bottom: 0 !important;">
    <div class="container">
      <div class="footer-title">
        <div class="brand"><%- include('../partials/navbar-brand'); %>
          <div class="sosmed-button mt-4" style="float: right;margin-top: 0 !important;">
            
            <a href="" onclick="window.open('https://www.instagram.com/ppphkuburaya/', '_blank').focus();"><i class="fab fa-instagram" style="font-size: 22px;font-weight: bold;"></i></a>
            <!-- <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a> -->
            <!-- <a href="#"><span class="mai-logo-twitter"></span></a>
            <a href="#"><span class="mai-logo-google"></span></a>
            <a href="#"><span class="mai-logo-linkedin"></span></a> -->
          </div>
        </div>
      </div>
      <div class="divider" style="margin: 20px 0 !important;width: 100%;"></div>
      <div class="row justify-content-center mb-5" style="border-bottom: 1px solid #ced4da;margin-bottom:0 !important">
        <div class="col-4">
          <h5 style="font-weight: bold;color: #142940;">Menu</h5>
          <!-- <div class="divider" style="margin: 0 !important;"></div> -->
          <ul class="footer-menu" style="margin-top: 1rem;">
            <li><a href="/main/about/<%= region[0].id_region %>">About</a></li>
            <li><a href="/main/contact/<%= region[0].id_region %>">Contact Us</a></li>
            <li><a href="https://pmudev.org/kkr/blog">Blog</a></li>
            <li><a href="/">Dashboard Monitoring</a></li>
            <li><a href="/main/resources/<%= region[0].id_region %>">Resources</a></li>
            <!-- <li><a>Pengaduan</a></li> -->
          </ul>
        </div>
        <!-- <div class="col-2">
          <h5 style="font-weight: bold;color: #142940;">Resouces</h5>
          <ul class="footer-menu" style="margin-top: 1rem;">
            <li><a href="/main/about/<%= region[0].id_region %>">Materi</a></li>
            <li><a href="/main/contact/<%= region[0].id_region %>">Policy Brief</a></li>
            <li><a>Peta</a></li>
            <li><a>Data</a></li>
          </ul>
        </div> -->
        <div class="col-4">
          <h5 style="font-weight: bold;color: #142940;">Desclaimer</h5>
          <!-- <div class="divider" style="margin: 0 !important;"></div> -->
          <p style="color: #142940;margin-top: 1rem;">Data dalam platform ini ditujukan sebatas untuk kebutuhan
            monitoring capaian pertumbuhan hijau dan tidak dapat dijadikan rujukan resmi penggunaan dalam bentuk apapun
          </p>
        </div>
        <div class="col-4" style="padding-bottom: 20px;">
          <h5 style="font-weight: bold;color: #142940;">Get in Touch</h5>
          <!-- <div class="divider" style="margin: 0 !important;"></div> -->
          <p style="color: #142940;margin-top: 1rem;">Kantor BAPPEDA,
            Jl. Supadio, Sungai Raya, Kubu Raya District</p>
          <p><a href="#" style="color: #367BF5;">pokjapertumbuhanhijaukkr@gmail.com</a></p>
          <p><a href="#" style="color: #367BF5;">+62 815729257</a></p>
        </div>
      </div>
      <p style="text-align: center;padding: 20px;" id="copyright">&copy; 2021 <a href="/main/about"
          style="color: #142940;">Entative Kubu Raya</a>. All rights reserved</p>
    </div>
  </footer> <!-- .page-footer -->